![Q1](02장_Q1.PNG)

In [1]:
subject = {'국어' : 80, '영어' : 75, '수학' : 55}
jumsu = list(subject.values())
print(sum(jumsu)/len(jumsu))

70.0

# Q2
## 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.

In [2]:
print("짝수" if 13 % 2 == 0 else "홀수")

홀수

![Q3](02장_Q3.PNG)

In [3]:
pin = "881120-1068234"
print(pin[:6], pin[7:])

881120 1068234

# Q4
## 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

In [4]:
print(pin[7])

1

# Q5
## 다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.

In [5]:
a = "a:b:c:d"
print(a.replace(':','#'))

a#b#c#d

![Q3](02장_Q6.PNG)

In [6]:
arr = [1, 3, 5, 4, 2]
print(sorted(arr, reverse=True))

[5, 4, 3, 2, 1]

# Q7
## ['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.
※ 문자열의 join 함수를 사용하면 리스트를 문자열로 쉽게 만들 수 있다.

In [7]:
string = ['Life', 'is', 'too', 'short'] 
' '.join(string)

'Life is too short'

# Q8
## (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.
※ 더하기(+)를 사용해 보자.

In [8]:
t1 = (1, 2, 3)
t2 = (4,)
t1 + t2

(1, 2, 3, 4)

![Q3](02장_Q9.PNG)

In [9]:
a = dict()
a

{}

In [10]:
a['name'] = 'python'

In [11]:
a[('a',)] = 'python'

In [12]:
a[[1]] = 'python' # key에 list 못 사용한다.

TypeError: unhashable type: 'list'

In [13]:
a[250] = 'python'

![Q3](02장_Q10.PNG)

In [17]:
a = {'A' : 90, 'B' : 80, 'C':70}
a.get('B')

80

![Q11](02장_Q11.PNG)

In [18]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
set(a)

{1, 2, 3, 4, 5}

![Q12](02장_Q12.PNG)

In [19]:
a = b = [1, 2, 3]
a[1] = 4
print(b)

[1, 4, 3]