# 02 - 1 숫자형
## 정수형

In [1]:
a = 123
print(a)
a = -178
print(a)
a = 0
print(a)

## 실수형

In [2]:
a = 1.2
print(a)
a = -3.45
print(a)
a = 4.24E10
print(a)
a = 4.24e-10
print(a)

1.2
-3.45
42400000000.0
4.24e-10

## 8진수와 16진수

In [3]:
a = 0o117
print(a)
a = 0x8ff
b = 0xABC
print(a,b)

79
2303 2748

## 사칙 연산

In [4]:
a = 3
b = 4
a + b

7

In [5]:
a * b

12

In [6]:
a / b

0.75

## x의 y제곱을 나타내는 ** 연산자

In [7]:
a = 3
b = 4
a ** b

81

## 나눗셈 후 나머지를 변환하는 % 연산자

In [8]:
7 % 3

1

In [9]:
3 % 7

3

## 나눗셈 후 몫을 반환하는 // 연산자

In [10]:
7 / 4

1.75

In [11]:
7 // 4

1

# 02-2 문자열 자료형

In [12]:
"Hello Wold"
'Python is fun'
"""Life is too shor, You need python"""
'''Life is too short, You need python'''

'Life is too short, You need python'

In [13]:
food = "Python's favorite food is perl"
food

"Python's favorite food is perl"

In [14]:
food = 'Python's favorite food is perl'

SyntaxError: invalid syntax (<ipython-input-14-336a85538234>, line 1)

In [17]:
say = '"Python is very easy." he says.'
print(say)

"Python is very easy." he says.

In [19]:
food = 'Python\'s favorite food is perl'
print(food)
say =  "\"Python is very easy.\" he says."

Python's favorite food is perl

In [21]:
multiline = "Life is too short\nYou need python"
print(multiline)

Life is too short
You need python

In [22]:
multiline = '''
    Life is too short
    You need python
    '''
print(multiline)

    Life is too short
    You need python

In [23]:
multiline = """
    Life is too short
    You need python
    """
print(multiline)

    Life is too short
    You need python

## 문자열 연산하기

In [24]:
head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

In [25]:
a = "python"
a * 2

'pythonpython'

In [26]:
print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

In [27]:
a = "Life is too short"
len(a)

17

## 문자열 인덱싱과 슬라이싱

In [28]:
a = "Life is too short, You need Python"
a[3]

'e'

In [29]:
a[0]

'L'

In [30]:
a[12]

's'

In [31]:
a[-1]

'n'

In [32]:
a[-0]

'L'

In [33]:
a[-2]

'o'

In [34]:
a[-5]

'y'

In [35]:
a = "Life is too short, You need Python"
b = a[0] + a[1] + a[2] + a[3]
b

'Life'

In [36]:
a[0:4]

'Life'

In [37]:
a[0:3]

'Lif'

In [38]:
a[0:5]

'Life '

In [39]:
a[0:2]

'Li'

In [40]:
a[5:7]

'is'

In [41]:
a[12:17]

'short'

In [42]:
a[19:]

'You need Python'

In [43]:
a[:17]

'Life is too short'

In [44]:
a[:]

'Life is too short, You need Python'

In [45]:
a[19:-7]

'You need'

In [46]:
a = '20010331Rainy'
date = a[:8]
weather = a[8:]
date

'20010331'

In [47]:
weather

'Rainy'

In [48]:
year = a[:4]
day = a[4:8]
weather = a[8:]
year

'2001'

In [49]:
day

'0331'

In [50]:
weather

'Rainy'

In [51]:
a = "Pithon"
a[1]

'i'

In [54]:
a[1] = "y"
a

TypeError: 'str' object does not support item assignment

In [55]:
a = "Pithon"
a[:1]

'P'

In [56]:
a[2:]

'thon'

In [57]:
a[:1] + 'y' + a[2:]

'Python'

## 문자열 포매팅

In [58]:
"I eat %d apples."%3

'I eat 3 apples.'

In [60]:
"I eat %s apples." % "five"

'I eat five apples.'

In [61]:
number = 10
day = "three"
"I ate %a apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

In [62]:
"I have %s apples" % 3

'I have 3 apples'

In [63]:
"rate is %s" % 3.234

'rate is 3.234'

In [64]:
"Error is %d%." % 98

ValueError: incomplete format

In [65]:
"Error is %d%%." % 98

'Error is 98%.'

In [66]:
"%10s" % "hi"

'        hi'

In [67]:
"%-10sjane." % 'hi'

'hi        jane.'

In [68]:
"%0.4f" % 3.42134234

'3.4213'

In [69]:
"%10.4f" % 3.42134234

'    3.4213'

In [70]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [71]:
"I eat {0} apples".format("five")

'I eat five apples'

In [72]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days".format(number, day)

'I ate 10 apples. so I was sick for three days'

In [73]:
"I ate {number} apples. so I was sick for {day} days".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days'

In [74]:
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [75]:
"{0:<10}".format("hi")

'hi        '

In [76]:
"{0:>10}".format("hi")

'        hi'

In [77]:
"{0:^10}".format("hi")

'    hi    '

In [78]:
"{0:=^10}".format("hi")

'====hi===='

In [79]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [81]:
y = 3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [82]:
"{0:10.4f}".format(y)

'    3.4213'

In [83]:
"{{ and }}".format()

'{ and }'

In [85]:
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [86]:
age = 30
f'나는 내년이면 {age+1}살이 된다.'

'나는 내년이면 31살이 된다.'

In [87]:
d = {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [89]:
f'{"hi":<10}'

'hi        '

In [90]:
f'{"hi":>10}'

'        hi'

In [91]:
f'{"hi":^10}'

'    hi    '

In [92]:
f'{"hi":=^10}'

'====hi===='

In [93]:
f'{"hi":!<10}'

'hi!!!!!!!!'

In [94]:
y = 3.42134234
f'{y:0.4f}'

'3.4213'

In [95]:
f'{y:10.4f}'

'    3.4213'

In [96]:
f'{{ and }}'

'{ and }'

## 문자열 관련 함수들

In [97]:
a = "hobby"
a.count('b')

2

In [98]:
a = "Python is the best choice"
a.find('b')

14

In [99]:
a.find('k')

-1

In [101]:
a = "Life is too short"
a.index('t')

8

In [102]:
a.index('k')

ValueError: substring not found

In [103]:
",".join('abcd')

'a,b,c,d'

In [104]:
",".join(['a','b','c','d'])

'a,b,c,d'

In [105]:
a = "hi"
a.upper()

'HI'

In [106]:
a = "HI"
a.lower()

'hi'

In [107]:
a = "  hi  "
a.lstrip()

'hi  '

In [108]:
a = "  hi "
a.rstrip()

'  hi'

In [109]:
a = "  hi  "
a.strip()

'hi'

In [110]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [111]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [112]:
b = "a:b:c:d"
b.split(':')

['a', 'b', 'c', 'd']

# 02-3 리스트 자료형
## 리스트의 인덱싱과 슬라이싱

In [113]:
odd = [1, 3, 5, 7, 9]

In [114]:
a = []
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]

In [115]:
a = [1, 2, 3]
a

[1, 2, 3]

In [116]:
a[0]

1

In [117]:
a[0] + a[2]

4

In [118]:
a[-1]

3

In [119]:
a = [1, 2, 3, ['a', 'b', 'c']]
a[0]

1

In [120]:
a[-1]

['a', 'b', 'c']

In [121]:
a[3]

['a', 'b', 'c']

In [122]:
a[-1][0]

'a'

In [123]:
a[-1][1]

'b'

In [124]:
a[-1][2]

'c'

In [127]:
a = [1, 2, ['a', 'b', ['Life', 'is']]]
a[2][2][0]

'Life'

In [128]:
a = [1, 2, 3, 4, 5]
a[0:2]

[1, 2]

In [129]:
a = "12345"
a[0:2]

'12'

In [130]:
a = [1, 2, 3, 4, 5]
b = a[:2]
c = a[2:]
b

[1, 2]

In [131]:
c

[3, 4, 5]

In [136]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [137]:
a[3][:2]

['a', 'b']

## 리스트 연산하기

In [138]:
a = [1, 2, 3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [139]:
len(a)

3

In [140]:
a[2] + "hi"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [141]:
str(a[2]) + "hi"

'3hi'

## 리스트의 수정과 삭재

In [143]:
a = [1, 2, 3]
a[2] = 4
a

[1, 2, 4]

In [144]:
del a[1]
a

[1, 4]

In [145]:
a = [1, 2, 3, 4, 5]
del a[2:]
a

[1, 2]

## 리시트 관련 함수들

In [146]:
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [147]:
a.append([5, 6])
a

[1, 2, 3, 4, [5, 6]]

In [148]:
a = [1, 4, 3, 2]
a.sort()
a

[1, 2, 3, 4]

In [149]:
a = ['a', 'c', 'b']
a.sort()
a

['a', 'b', 'c']

In [151]:
a = ['a', 'c', 'b']
a.reverse()
a

['b', 'c', 'a']

In [152]:
a = [1, 2, 3]
a.index(3)

2

In [153]:
a.index(1)

0

In [154]:
a.index(0)

ValueError: 0 is not in list

In [155]:
a = [1, 2, 3]
a.insert(0, 4)
a

[4, 1, 2, 3]

In [156]:
a.insert(3, 5)
a

[4, 1, 2, 5, 3]

In [157]:
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [158]:
a.remove(3)
a

[1, 2, 1, 2]

In [159]:
a = [1, 2, 3]
a.pop()

3

In [160]:
a

[1, 2]

In [161]:
a = [1, 2, 3]
a.pop()

3

In [162]:
a

[1, 2]

In [163]:
a = [1,2,3,1]
a.count(1)

2

In [164]:
a = [1, 2, 3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [165]:
b = [6, 7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]

## 02-4 튜플 자료형

In [1]:
t1 = ()
t2 = (1,)
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab', 'cd'))

In [2]:
t1 = (1, 2, 'a', 'b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [3]:
t1[0] =  'c'

TypeError: 'tuple' object does not support item assignment

## 튜플 다루기

In [5]:
t1 = (1, 2, 'a', 'b')
t1[0]

1

In [6]:
t1[3]

'b'

In [7]:
t1 = (1, 2, 'a', 'b')
t1[1:]

(2, 'a', 'b')

In [8]:
t1 = (1, 2, 'a', 'b')
t1[1:]

(2, 'a', 'b')

In [9]:
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)
t1 + t2

(1, 2, 'a', 'b', 3, 4)

In [10]:
t2 = (3, 4)
t2 * 3

(3, 4, 3, 4, 3, 4)

In [11]:
t1 = (1, 2, 'a', 'b')
len(t1)

4

# 02-5 딕셔너리 자료형

In [12]:
dic = {'name' : 'pey', 'phone' : '0119993323', 'birth': '1118'}

In [13]:
a = {1:'hi'}

In [14]:
a = {'a':[1,2,3]}

## 딕셔너리 쌍 추가, 삭제하기

In [15]:
a = {1: 'a'}
a[2] = 'b'
a

{1: 'a', 2: 'b'}

In [17]:
a['name'] = 'pey'
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [18]:
a[3] = [1,2,3]
a

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [19]:
del a[1]
a

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

## 딕셔너리를 사용하는 방법

In [20]:
grade = {'pey':10, 'julliet':99}
grade['pey']

10

In [21]:
grade['julliet']

99

In [22]:
a = {1:'a', 2:'b'}
a[1]

'a'

In [23]:
a[2]

'b'

In [24]:
dic = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}
dic['name']

'pey'

In [25]:
dic['phone']

'0119993323'

In [26]:
dic['birth']

'1118'

In [27]:
a = {1:'a', 1:'b'}
a

{1: 'b'}

In [28]:
a = {[1, 2] : 'hi'}

TypeError: unhashable type: 'list'

## 딕셔너리 관련 함수들

In [29]:
a = {'name' : 'pey', 'phone' : '0119993323', 'birth': '1118'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [30]:
for k in a.keys():
    print(k)

name
phone
birth

In [31]:
list(a.keys())

['name', 'phone', 'birth']

In [32]:
a.values()

dict_values(['pey', '0119993323', '1118'])

In [33]:
a.items()

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

In [34]:
a.clear()
a

{}

In [35]:
a = {'name' : 'pey', 'phone':'0119993323', 'birth':'1118'}
print(a.get('nokey'))
print(a['nokey'])

None

KeyError: 'nokey'

In [36]:
a.get('foo','bar')

'bar'

In [37]:
a = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}
'name' in a

True

In [38]:
'email' in a

False

# 02-6 집합 자료형

In [39]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [40]:
s2 = set("Hello")
s2

{'H', 'e', 'l', 'o'}

In [41]:
s1 = set([1,2,3])
l1 = list(s1)
l1

[1, 2, 3]

In [42]:
l1[0]

1

In [43]:
t1 = tuple(s1)
t1

(1, 2, 3)

In [44]:
t1[0]

1

## 교집합, 합집합, 차집합 구하기
### 교집합

In [45]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
s1 & s2

{4, 5, 6}

In [46]:
s1.intersection(s2)

{4, 5, 6}

### 합집합

In [47]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [48]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

###  차집합

In [49]:
s1 - s2

{1, 2, 3}

In [50]:
s2 - s1

{7, 8, 9}

In [51]:
s1.difference(s2)

{1, 2, 3}

In [52]:
s2.difference(s1)

{7, 8, 9}

## 집합 자료형 관련 함수들
### 값 1개 추가하기(add)

In [53]:
s1 = set([1, 2, 3])
s1.add(4)
s1

{1, 2, 3, 4}

### 값 여러 개 추가하기(update)

In [54]:
s1 = set([1, 2, 3])
s1.update([4, 5, 6])
s1

{1, 2, 3, 4, 5, 6}

### 특정 값 제거하기(remove)

In [55]:
s1 = set([1, 2, 3])
s1.remove(2)
s1

{1, 3}

# 02-7 불 자료형

In [56]:
a = True
b = False
type(a)

bool

In [57]:
type(b)

bool

In [58]:
1 == 1

True

In [59]:
2 > 1

True

In [60]:
2 < 1

False

## 자료형의 참과 거짓

In [61]:
a = [1, 2, 3, 4]
while a:
    print(a.pop())

4
3
2
1

In [62]:
if [1, 2, 3]:
    print("참")
else:
    print("거짓")

참

## 불 연산

In [63]:
bool('python')

True

In [64]:
bool('')

False

In [65]:
bool([1, 2, 3])

True

In [66]:
bool([])

False

In [67]:
bool(0)

False

In [68]:
bool(3)

True

# 02-8 자료형의 값을 저장하는 공간, 변수

In [69]:
a = 1
b = "python"
c = [1, 2, 3]

In [70]:
a = [1, 2, 3]
id(a)

2698005808576

## 리스트를 복사하고자 할 때

In [71]:
a = [1, 2, 3]
b = a

In [72]:
id(a)

2697997128128

In [73]:
id(b)

2697997128128

In [74]:
a is b

True

In [75]:
a[1] = 4
a

[1, 4, 3]

In [76]:
b

[1, 4, 3]

In [77]:
a = [1, 2, 3]
b = a[:]
a[1] = 4
a

[1, 4, 3]

In [78]:
b

[1, 2, 3]

In [80]:
from copy import copy
b = copy(a)
b is a

False

## 변수를 만드는 여러 가지 방법

In [81]:
a, b = ('python', 'life')
(a, b) = 'python', 'life'
[a, b] = ['python', 'life']
a = b = 'python'
a = 3
b = 5
a, b = b, a
a

5

In [82]:
b

3